* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.the_main_box {
    width: 1761px;
    height: 643px;
    border: 3px solid pink;
    display: flex;
    justify-content: space-between;
    margin: 45px 0 0 0;
}

.box1 {
    width: 537px;
    height: 643px;
    border: 1px solid black;
    border-radius: 28px;
    background: linear-gradient(265.43deg, rgb(38, 58, 79),rgb(24, 32, 53) 1.15%,rgb(1, 11, 25) 21.42%,rgb(38, 58, 79) 39.24%,rgb(63, 88, 105) 51.92%,rgb(38, 58, 79) 65.54%,rgb(24, 32, 53) 79.96%,rgb(1, 11, 25) 99.31%);
}

.box1_inside {
    width: 462px;
    height: 575px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fire {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    position: relative;
    left: 91%;
    top: -5px;
}

.the_highest_section {
    width: 453px;
    height: 222px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexible_solution {
    color: white;
    width: 453px;
    height: 54px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 20.97px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.high_section {
    width: 453px;
    height: 132px;
    border: 1px solid black;
}

.gig_min {
    width: 190px;
    height: 110px;
    border: 1px solid black;
}

.first_info {
    width: 453px;
    height: 112px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 28px;
    height: 30px;
    border: 1px solid black;
}

.arrows {
    width: 30px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.giga {
    width: 108px;
    height: 64px;
    display: flex;
    align-items: baseline;
    border: 1px solid black;
    gap: 5px;
}

.mina {
    width: 144px;
    height: 44px;
    display: flex;
    align-items: baseline;
    border: 1px solid black;
    gap: 5px;
}

.gigabites_number {
    width: 64px;
    height: 62px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 55.78px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -2.4px;
}

.minutes_number {
    width: 92px;
    height: 42px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 43px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -2.4px;
}

.gb {
    width:26px;
    height: 19px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    border: 1px solid black;
}

.min {
    width: 42px;
    height: 20px;
    border: 1px solid black;
    color: rgba(255, 255, 255, 0.6);
    font-family: Arial;
    font-size: 16.88px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.limitless_messanger {
    width: 228px;
    height: 18px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 13.02px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.last_section {
    width: 457px;
    height: 212px;
    border: 1px solid black;
}

footer {
    width: 457px;
    height: 100px;
    border: 1px solid black;
    display: flex;
}

.footer_first {
    width: 50%;
    height: 98px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.footer_second {
    width: 50%;
    height: 98px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    width: 78px;
    height: 37px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 34px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

.currency {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    opacity: 0.6;
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial;
    font-size: 13.78px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

button {
    width: 193px;
    height: 48px;
    border: 1px solid black;
    box-sizing: border-box;
    border: 1px solid rgba(80, 80, 80, 0.3);
    border-radius: 12px;
    background: rgb(254, 211, 5);
}